﻿@model SearchFiltersViewModel
    <h3 style="text-align: center; font-size: 2rem;">Поиск</h3>
<div class="row mt-5 mb-2" style="margin-left: 0.1rem; margin-right: 0rem";>
    @{
        foreach (Merch merch in Model.searchMerches)
        {
            @Html.Partial("AllMerches", merch)
        }
    }
</div>




