﻿@model Shop.Data.Models.Merch

<div class=" col-lg-3">
    <div><img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" /></div>
    
    </div>
<div class="col-lg-3">
    <h2>@Model.Name </h2>
    <p>Цена: @Model.Price.ToString("c")</p>
    <p style="display: inline-flex"><a href="/Item/@Model.url">Подробнее</a></p>
    <form name="qwe" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" asp-route-size="size">
        <input type="radio" name="size" value="L"> L<Br>
        <input type="radio" name="size" value="M" checked> M<Br>
        <input type="radio" name="size" value="X"> X<Br>
        <input type="radio" name="size" value="XL"> XL<Br>
        <input type="submit" value="Добавить в корзину" class="btn btn-warning btn_color_more" style="margin-top: 1rem"/>
    </form>
</div>



