﻿@model Shop.Data.Models.Merch
    <div class=" col-lg-8" style="display:flex">
        <div><img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" /></div>
        <div class="col-lg-4">
            <h2>@Model.Name </h2>
            <p>@Model.Description</p>
            <p>Цена: @Model.Price.ToString("c")</p>
            <form asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" asp-route-size="size">
                <select name="size" id="size">
                    <option value="L">L</option>
                    <option value="M" selected>M</option>
                    <option value="X">X</option>
                    <option value="XL">XL</option>
                </select>
                <input type="submit" value="Добавить в корзину" class="btn btn-warning btn_color_more" />
            </form>
        </div>
    </div>