﻿@model ShoppingCartViewModel
    <div>
        @foreach (var el in Model.shoppingCart.listShopItems)
        {
            <div class="alert alert-warning mt-3" style="width: 25%; margin-left: 1rem;">
                <b>Товар:</b> @el.Merch.Name<br />
                <b>Цена:</b> @el.Merch.Price.ToString("c")
                <b>Размер</b> @el.Size
                <a class=" btn btn-warning" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@el.Merch.Id">+</a>
                <a asp-controller="ShoppingCart" asp-action="delToCart" asp-route-id="@el.Id">Удалить товар</a>
                




            </div>
        }
        <hr />
        <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
        
        
    </div>

