﻿@model HomeViewModels

<div style="text-align: center;">
    <h2>Популярные товары</h2>
</div>
<div class="row mt-5 mb-2" style="margin-left: 0.1rem; margin-right: 0rem;">
    @{
        foreach (Merch merch in Model.favMerches)
        {
            @Html.Partial("AllMerches", merch)
        }
    }
</div>




