﻿.header {
    padding-top: .75rem;
    z-index: 5;
}

.position_navbar{
    font-size:1.5rem;
}

@media (min-width: 992px){
    .mob_nav {
        float:left;
    }
}

.btn_color_more {
    background-color: darkseagreen;
    border-color: lightseagreen;
}




